.search__form {
    margin-block-start: 1rem;
    height: 40px;
    border-radius:9999px;
    max-width: 235px;
    padding: 0rem 1rem;
    @apply flex flex-row 
    items-center justify-normal
    bg-[var(--bg-3)]
    flex-nowrap overflow-hidden;
}

.search__form > input{
    border: none;
    outline: none;
    @apply bg-transparent;

}
.search__form>input:focus{
    border: none;
    outline: none;
}
.search__form:focus-within{
    @apply ring-1 ring-[var(--t-2)]
}

