
    .animator {
        animation: shrink 0.5s ease-in-out 0s 1;
        position: relative;
        width:100%;
        transition: var(--transition-1);
        
        
        @apply flex flex-col items-center;

    }
    
    
    @keyframes shrink {
        0%{
            opacity: 0;
            margin-top:30px;
        }
        100% {
            opacity: 1;
            margin-top: 0px;
        }
    }