
    .animator {
        position: relative;
        width:100%;
        transition: var(--transition-1);
        @apply flex flex-col items-center;

    }
    .collapser {
        animation: shrink 0.13 ease-in 0s linear;

    }

    @keyframes shrink {
        0%{
            height:30px;
        }
        100% {
            height: 0px;
        }
    }