.auth__banner {
    color: var(--t-1);
    font-size: var(--font-size-36);
    @apply font-normal my-2
}
input.input__reusable {
    background-color: var(--bg-1);
    padding: 14px 15px;
    height: 50px;
    box-sizing: border-box;
    font-size: var(--font-size-14);
    @apply font-normal
}

.input__reusable:focus {
    border: 2px solid transparent;
    outline: 1px solid var(--t-2);

}
.auth__icon {
    font-size: var(--font-size-76);
    color: var(--t-3);
    border: 1px solid var(--t-3);
    border-radius: 50%;
    margin: 1rem 0rem;
    @apply font-normal p-2 flex flex-col 
    items-center 
    justify-center
}
main.signUp {
    margin-top: 60px;
    background-color: var(--bg-2);
    @apply flex flex-col items-center
    justify-center;
}

.auth__form {
    @apply flex flex-col 
    items-center justify-start
    gap-2
}

.auth__button{
    color: var(--bg-2);
    font-size: var(--font-size-14);
    font-weight: 400;
    border-radius: 8px;
    @apply flex flex-row items-center justify-center
    ;
    cursor: pointer;

    height: 50px;
    width: 100%;
    background-color:var(--t-2);
    transition: var(--transition-1);
}

.auth__button:hover {
 background-color: var(--t-3);
}

.link__to__other {
    font-size: var(--font-size-14);
    color: var(--t-3);
    font-weight: 300;
}
.link__to__other>a {
    margin-left: 4px;
    color: var(--t-1);
    text-decoration: underline;
}
.logout__button {
    font-size: inherit;
    color: inherit;
    padding: 8px 16px;
    @apply flex flex-row items-center;
}
