footer {
    width: 100vw;
    min-height: 60px;
    background-color: inherit;
    padding:0rem  clamp(0.25rem, -1.7rem + 4.8vw, 1rem);

}


.footer__mid{
    @apply flex items-center justify-center
    w-9 h-9 
}