@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --invert:0;
    --bg-1:#FFFFFF; 
    --bg-2:rgb(253, 253, 252);
   --bg-3: #f5f5f5;
    --bg-4:#90909040;
    
  
    --t-1:#313547;
    --t-2:#38393B;
    --t-3:#898E96;
    --t-4:#989EA6;
    /* cedric */
    /* --bg-1:#161616;
    --bg-2:#1c1c1c;
    --bg-3:#2b2b2b;
    --bg-4:#282828;

    --t-1:#ffffff;
    --t-2:#f2f2f2;
    --t-3:#7d8084;
    --t-4:#7c7f82; */
    --bg-b:#fffffff2;
  }
  [data-theme='dark'] {
    --invert:0;

/* cedric */
    --bg-1:#161616;
    --bg-2:#1c1c1c;
    --bg-3:#2b2b2b;
    --bg-4:#393939;

    --t-1:#ffffff;
    --t-2:rgb(242, 242, 242);
    --t-3:#7d8084;
    --t-4:#7c7f82;

    
    --bg-b:#1c1c1cf2;
  } 
  
  *  {
    padding:0px;
    margin:0px;
    scroll-behavior: smooth;

    --themecolor:#f7aa35;
    --themecolor2:#802c6e;
    --white:#ffffff;
    --hover:#f8f8f8;
    --purple:#c8bff7;
    --purple-2:#D1A7E5;
    --purple3:#802c6e;
    --paleblue:#bfe3f7;
    --skyblue:#2edbe3;
    --lightskyblue:#2edae30f;
    --orange:#f7d4bf;
    --orange2:#f7aa35;
    --pink:#f7bfee;
    --sepia:#8f4a18;
    --sarah:#d96528;
    --palepink: #ffe8db;
    --palegreen:#d9f7bf;
    --verypalegreen:#d9f7bf50;
    --coral:#f7bfbf;
    --khaki:#f7f0bf;
    --darkblue:#bacfff;
    --seagreen:#baeed2;
    --css:#3863d9;
    
    --scrollbar-size: 8px;
    --darkgrey:#6d7175;
    --darkgreen:#286d1d;
    --sunset:hsl(0, 0%, 42%);
    --red:#ff7842; 
    --verypalered: #ff78424b;
    --red-2:#dc2626;
   --yellow:#ffd908;
   --yellow2:#FFF36D;
   --verypaleyellow2:#fff36d44;
    --bg-dt:#1c1c1cf2;
    --frenchred:#f0695f;
   --navy:#0C2365;
   --grid:rgba(215, 225, 242, 0.234);
   --grid2:rgba(255, 42, 42, 0.098);
    --blue:#2563eb;
    --blue2:#0066cc;
   --neongreen:#08ffbd; 
   --verypalepink:#fffdfd;
    --leetcodeorange:#d16c06;
    --leetcodeorange2:#ffa116;
      --green:#00a33c;
      --box-shadow-1:0px 2px 3px 0px rgba(0,0,0,0.1);
      --box-shadow-2:0 4px 4px rgba(0,0,0,0.1);
      --box-shadow-3:1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
      --box-shadow-4: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      --transition-1:all 0.25s ease;
      --transition-2:all 0.5s ease;
      --box-shadow-1inset:inset 0px 2px 3px 0px rgba(0,0,0,0.1) ;
     --one:1;
     --zero:0;
    --code-l:rgb(253, 253, 252);
    --code-d:#38393B;
     --scrollbarBG:#fdfdfc ;
    --thumbBG:#f5f5f5;
    --bg-radial:radial-gradient(ellipse at center,#192d38 0,#211f2f 100%);
    --bg-blur:rgba(56, 57, 59,0.8);
  

    

  }
  
  
  html:focus-within{
    scroll-behavior: smooth;
  }

  @media(prefers-reduced-motion){
    html:focus-within{
      scroll-behavior: auto;
    }
  }
  html {
    filter: invert(var(--invert));
    background-color:var(--bg-1);
    color:var(--t-1); 
    scroll-behavior: auto;
    /* font-family: Arial,sans-serif; */
    width: 100vw;
    max-width: 100vw;
    min-height: 100dvh;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items:center;
    
    overflow-x: hidden !important;
    overflow-y: scroll;
  
    --font-size-11:11px;
    --font-size-12: clamp(0.75rem, 0.664rem + 0.4587vw, 0.875rem);
    --font-size-14:14px;
    --font-size-15:15px;
    --font-size-16:clamp(0.9375rem, 0.9239rem + 0.0725vw, 1rem);
     --font-size-20:clamp(1rem, 0.9457rem + 0.2899vw, 1.25rem);
     --font-size-24:clamp(1.0625rem, 0.9674rem + 0.5072vw, 1.5rem);
     --font-size-36:clamp(1.5rem, 1.3913rem + 0.5797vw, 2rem);
     --font-size-48:clamp(2.5rem, 1.875rem + 2vw, 3rem);
     --font-size-76:clamp(2.75rem, 2.3152rem + 2.3188vw, 4.75rem);
  
     --line-height-56:clamp(3rem, 2.375rem + 2vw, 3.5rem);
  --p-8-16:clamp(0.5rem, -0.125rem + 2vw, 1rem);
     --margin-24:clamp(1rem, 0.375rem + 2vw, 1.5rem);
  
  
    
    
  }
  

  
  body {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
   flex: 1 1 auto;
    background-color:var(--bg-1);
    display: flex;
    flex-direction: column;
    padding:0px 0px;
    position: relative;
    color:var(--text-primary);
    border: none;
    align-items: center;
    overflow-x: hidden;
  }
  
  
  
  /* media for phone CHECK! */
  @media (width < 736px) {
    body {
      overflow-x: hidden;
    }
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: auto;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--scrollbarBG);
    /* border-radius: 10px; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--darkgrey);
    
  }
  ::-webkit-scrollbar-thumb:hover {
   opacity: 0.56;
  }
  main {
    
    margin: 0px 0px 0px 0px;
    position:relative;
    top:0px;
    flex:1 1 auto;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    box-sizing: border-box;
    padding: 0rem 0.0rem;
     overflow-x: hidden;
    
    
    
  }
img {
  
  max-inline-size: 100%;
  block-size: auto;

}
  .layout__div {
    width: 100%;
    overflow-x: hidden;
    @apply flex flex-col 
    items-center
    flex-auto;
  }
main.page {
  padding: 0rem  clamp(0.25rem, -1.7rem + 4.8vw, 1rem);
  margin-top: 60px;
  max-width: 650px;
}

 *{
  color: var(--t-1);
}
  h1 {
    color: var(--t-1);
    font-size: var(--font-size-48);
  }
  h2 {
    color: var(--t-1);
    font-size:var(--font-size-36);  
  }
  h3 {
    color: var(--t-1);
    font-size: var(--font-size-24);
  }
  p{
    
    color: var(--t-1);
    font-size: var(--font-size-16);
  }

  textarea {
    background-color: var(--bg-1);
    outline: none;
    width: 100%;
    transition: var(--transition-1);
    border: 1px solid var(--bg-4);
    box-sizing: border-box;
    @apply rounded-md 
    px-2 py-2
    overflow-hidden;
  }

  textarea:focus, input:focus {
    border-color: var(--bg-4);
    @apply ring-inset ring-white ring-2
  }

  textarea::placeholder{
    color: var(--t-3);
    white-space: pre-line;
    font-size: var(--font-size-14);
    @apply uppercase font-light
  }

  input {
    background-color: var(--bg-3);
    outline: none;
    width: 100%;
    transition: var(--transition-1);
    border: 1px solid transparent;
    color: var(--t-1);
    @apply rounded-md my-1
    py-2 box-border px-1
    overflow-hidden;
  }

  input::placeholder {
    color: var(--t-3);
    @apply uppercase font-light
  }

  input::-webkit-file-upload-button {
    background-color: var(--bg-1);
    box-shadow: none;
    border: 1px solid var(--bg-4);
    transition: var(--transition-1);
    color: var(--t-2);
    font-weight: 300;
    font-size: var(--font-size-14);
    @apply rounded-sm cursor-pointer
  }
  input::-webkit-file-upload-button:hover {

    @apply ring-2 ring-white ring-inset
  }


  strong {
    font-weight: 600;
    color: inherit;
  }
  code {
    color: inherit; 
    padding: 3px;
    background-color: inherit;
    @apply inline-block 
    rounded-sm 
  }

button {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--t-1);
  font-size: var(--font-size-16);
  font-weight: 400;
  
  opacity: 0.85;
  transition: var(--transition-1);
  @apply flex flex-row items-center justify-center gap-1
  px-3 py-2 overflow-hidden rounded-sm;
}
button:hover {
opacity: 1;
}



label {
  color: var(--t-1);
  @apply relative;
  transform: var(--transition-1);

}
label:hover {
  background-color: var(--bg-4);
}

label>.label__hover {
  color: var(--t-1);
  background-color: var(--bg-2);
  font-weight:400;
  transition: va(--transition-1);
  font-size: 11px;
  width: min-content;
  bottom: 0px;
  left: 50%;
 
  transform: translate(-50%,110%);
  @apply absolute flex-row items-center
rounded-sm px-1 z-10
  whitespace-nowrap
  
  ;
  display: none;
}

label:hover >.label__hover{
  display: flex;
}
@media (width<571px){
  label:hover>.label__hover{
    bottom:-60px;
  }
}
svg {
  color: var(--t-1);
}

 
::selection{
  --selection3:#1a1aa1;
  --selection1:#8f4a18;
  --selection2:#7d1f7c;
  background-color: var(--selection2);
  color: white;
}

.react-split__pane,.react-split {
  background-color: var(--bg-1);
  padding: 0px;
}

pre {
  @apply py-2
}
.codeBlock__dark, .codeBlock__light {
  @apply flex flex-col 
  rounded-md overflow-hidden
  w-full box-border
  relative;
}
.codeBlock__dark,.codeBlock__dark *{
  color: white;
}
.codeBlock__light,.codeBlock__light * {
  color: black;
}
.codeBlock__light section, .codeBlock__dark section {
  @apply w-full box-border
  px-3 py-2 hidden
  ;
}
.code__icons {
  /* color: var(--t-1); */
  position: absolute;
  @apply flex flex-row items-center
   left-auto right-0 gap-1
  top-0 px-3 py-2 
  ;
}

.code__icons>button {
 width: 20px;
 height: 20px;
  @apply px-1
  ;

}

ul {
  /* overflow: auto; */
  padding-left: 1rem;
  list-style-type: circle;
}

ol {
  /* overflow: auto; */
  padding-left: 1rem;
  list-style-type: decimal;
}
a {
  text-decoration: underline;
}

.about__p code {
  background-color: var(--bg-3);
  @apply rounded-md py-0.5 px-0.5 
}


.Card {
 
  aspect-ratio: 10/9;
  
 
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-3);
  background-size: cover;
  @apply w-full flex flex-col
  rounded-md overflow-hidden
 
  ;
}
.Card.one{
  transform: rotateZ(0deg);
  /* background-image: url("../public/images/sky.jpeg"); */
}
.Card.two{
 
  
 
  transform: rotateZ(0deg);
  /* background-image: url("../public/images/fancyLetters.jpeg"); */
}
.Card.three{
  
  transform: rotateZ(0deg);
  /* background-image: url("../public/images/coffee.webp"); */
}
.Card__blur {
  padding: clamp(0.5rem, -0.3889rem + 4.4444vw, 1.5rem);
  border: 1px solid var(--bg-4);
  overflow: hidden;
  position: absolute;
  inset: 0px;
  @apply flex flex-col gap-4
  justify-center rounded-md
  items-center;
  backdrop-filter: blur(5px);
}


.Card__button {
  margin-top: auto;
  min-width:90%;
  filter: sepia(1);
  background-color: var(--t-4);
  white-space: nowrap;
  @apply px-2 py-2 rounded-md
  font-semibold
  ;
}