.theme__button {
    color: var(--t-1);
    font-size: inherit;
    font-weight: inherit;
}

.btn {
    color: var(--t-1);
    font-size: var(--font-size-16);
}
.u {
    text-decoration: underline;
}
.blog__list {
    width: 100%;
    height: min-content;

    @apply flex 
    gap-2
    flex-col;
}
.canEdit__desktop {
    color:var(--t-2);
    font-size: inherit;
    @apply ml-0
    flex-nowrap items-center gap-0
    sm:ml-4
    inline-flex;
}

.canEdit__desktop >button {
    overflow: hidden;
    transition: var(--transition-2);
    @apply text-base flex-auto
    flex flex-row flex-nowrap items-center gap-1
    opacity-60
   ;    
}
.canEdit__desktop>button:hover {
    @apply opacity-100
}
.profile__component {
    margin-top: 0px;
    width: 100%;
    color: var(--t-1);
}
.profile__photo {
    bottom: 0;
    width: 120px;
    height: 120px;
    transform: translate(50%,50%);
    border-color: var(--bg-4);
    @apply rounded-full border-2 
    absolute
    box-border
}
.profile__photo__setter{
    bottom: 68px;
    z-index: 1;
    width: 120px;
    height: 60px;
    transform: translate(50%,50%);
    
    background-color: var(--bg-3);
    color: var(--t-2);
    opacity: 0.85;
    transition: var(--transition-2);
    @apply rounded-md
    absolute flex flex-col items-center 
    justify-center text-lg
    font-semibold
    box-border
}
.profile__photo__setter>button {
    transform: scale(0.85);
    z-index: 1;
}
.profile__photo__setter>button:hover{
    transform: scale(1);
    opacity: 1;
    
    color: var(--t-1);
    background-color: var(--bg-2);
}
.profile__name {
    margin-bottom: 1rem;
    margin-top: 60px;
    font-weight: 500;
    color: var(--t-1);
    font-size: var(--font-size-36);
}
.arrow {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%,50%) rotate(45deg);
    
    display: inline-block;
    background-color:inherit;
    width: 1rem;
    height: 1rem;
}
.edit__btn {
    border-radius: 6px;
    height: min-content;
    margin: 0rem 0.5rem;
    padding: 0.5rem 0.5rem;
color: var(--t-1);
background-color: var(--bg-1);
font-weight: 600;
font-size: var(--font-size-14);
border: 1px solid var(--bg-4);
transition: var(--transition-2);
@apply flex gap-1 flex-row;
cursor: pointer;
opacity: 0.6;

}

.edit__btn:disabled {
    caret-color: var(--t-1);
    cursor:not-allowed;
    opacity: 1;
    color: var(--t-3);
    background-color: var(--bg-3);
    @apply flex flex-row items-center gap-1;
}

.cover__photo__setter {
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,50%);
    width: min-content;
    height: min-content;
    background-color: var(--bg-2);
    color: var(--t-2);
    @apply absolute rounded-md
    items-center justify-center
    flex flex-col gap-1;
}
.cover__photo__setter>button {
    transition: var(--transition-2);
    color: var(--t-2);
    opacity: 0.66;
    background-color: inherit;
    @apply flex flex-row rounded-md
    items-center gap-1 py-1 px-2
}
.cover__photo__setter>button:hover {
    color:white;
    opacity: 1;
    
}
.arrowCover {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%,-50%) rotate(45deg);
    
    display: inline-block;
    background-color:inherit;
    width: 1rem;
    height: 1rem;
}

.textarea {
    background-color: var(--bg-3);
    @apply w-full 
}


.canEdit__touch {
    color:var(--t-2);
    font-size: inherit;
    @apply ml-0
    flex-nowrap items-center gap-0
    
    inline-flex;
}
.canEdit__touch >button {
    overflow: hidden;
    transition: var(--transition-2);
    @apply text-base flex-auto
    flex flex-row flex-nowrap items-center gap-1
    opacity-60
   ;    
}
.canEdit__touch>button:hover {
    @apply opacity-100
}

form.search__form {
    margin-block-start: 1rem;
    height: 40px;
    border-radius:9999px;
    max-width: 235px;
    padding: 0rem 1rem;
    @apply flex flex-row 
    items-center justify-normal
    bg-[var(--bg-3)]
    flex-nowrap overflow-hidden;
}

form.search__form > input{
    border: none;
    outline: none;
    @apply bg-transparent;

}
.search__form>input:focus{
    border: none;
    outline: none;
    @apply ring-transparent
}
.search__form:focus-within{
    @apply ring-1 ring-[var(--t-2)]
}
div#portal {
    z-index: 9999;
    
    
    @apply fixed bottom-5 w-min 
  }
.notification {
    width: min(300px,100vw);
    bottom:2rem;
    left: 50%;
    z-index: 9999;
    transform:translate(-50%,-50%);
}

.mobile__link {
    transition: var(--transition-1);
    width: min(100%,450px);
}


