.theme__button {
    color: var(--t-1);
    font-size: inherit;
    font-weight: inherit;
}

.btn {
    color: var(--t-1);
    font-size: var(--font-size-16);
}
.u {
    text-decoration: underline;
}
.blog__list {
    width: 100%;
    height: min-content;

    @apply flex 
    gap-2
    flex-col;
}
.canEdit__desktop {
    
    font-size: inherit;
    @apply 
   
    inline-block;
}
.canEdit__desktop >button {
    @apply 
    px-1;
}
.profile__component {
    color: var(--t-1);
}
.profile__photo {
    bottom: 0;
    transform: translate(50%,50%);
    border-color: var(--bg-4);
    @apply rounded-full border-2 
    absolute
    box-border
}
.profile__photo__setter{
    bottom: 0;
    width: 120px;
    height: 120px;
    transform: translate(50%,50%);
    border-color: transparent;
    background-color: transparent;
    @apply rounded-full border-2 
    absolute flex flex-col items-center 
    justify-center text-lg text-white
    font-semibold ring-2 ring-black
    box-border
}

.profile__name {
    margin-top: 60px;
    font-weight: 500;
    color: var(--t-1);
    font-size: var(--font-size-36);
}

.edit__btn {
color: var(--t-2);
background-color: var(--bg-1);
font-weight: 600;
font-size: var(--font-size-14);
}

.edit__btn:disabled {
    color: var(--t-3);
    background-color: var(--bg-3);
    @apply flex flex-row items-center gap-1;
}