.parent__sp {
    flex: 1 1 auto;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    /* width:50%; */
    height:100%;
    position: relative;
    top:60px;
  }
  
  .item__sp {
    background-repeat:no-repeat; 
  background-attachment:fixed;
  background-position:center;
  background-size:contain;
    height:100%;
    width:auto;
    display:flex;
    gap:0rem;
    align-items:flex-start;
    flex-direction:column;
    position:relative;
    
    /* padding:1rem; */
    box-sizing:border-box;
    overflow:auto;
  }
  
  #item1 {
    
    background-color:transparent;
  }
  #item2{
    flex:1 1 auto;
    background-color:transparent;
  }
  
  #drag {
    right:0px;
    cursor:col-resize;
    position:absolute;
    height:100%;
    width:10px;
    background-color:#060606;
    transition: var(--transition-1);
  }

  #drag:hover {
    outline: 1px solid hsl(0, 0%, 46%);
    outline-offset: 1px;
  }

  #drag:focus{
    outline: 1px solid hsl(0, 0%, 46%);
    outline-offset: 1px;
    opacity: 0.6;
  }