.parent__sp {
    flex: 1 1 auto;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    /* width:50%; */
    height:100%;
    position: relative;
    top:60px;
  }
  
  .item__sp {
    background-repeat:no-repeat; 
  background-attachment:fixed;
  background-position:center;
  background-size:contain;
    height:100%;
    width:auto;
    display:flex;
    gap:0rem;
    align-items:flex-start;
    flex-direction:column;
    position:relative;
    
    /* padding:1rem; */
    box-sizing:border-box;
    overflow:auto;
  }
  
  #item1 {
    
    background-color:transparent;
  }
  #item2{
    flex:1 1 auto;
    background-color:transparent;
  }
  
  #drag {
    right:0px;
    cursor:col-resize;
    position:absolute;
    height:100%;
    width:10px;
    display: flex;
    background-color:var(--bg-4);
    transition: var(--transition-1);
    overflow: visible;
  }

  #drag:hover {
    outline: 1px solid hsl(0, 0%, 46%);
    outline-offset: 1px;
    background-color: var(--bg-4);
    
  }

  #drag:focus{
    outline: 1px solid hsl(0, 0%, 46%);
    outline-offset: 1px;
    opacity: 0.6;
    background-color: var(--bg-4);
  }
  .drag__arrow {
    height:24px;
    width:24px;
    display: flex;
    font-size: 24px;
    @apply rounded-md;
    transform:translate(-12px,0px);
    position:relative;
    top:50%;
    background-color: chocolate;
    color: wheat;
    animation: pulse 1s ease-in-out delay infinite forwards ;
  }
@keyframes pusle {

}